.divStyleOutter = {
		width: 300px
	};

.divStyleInner = {
		float: left;
		width: 80px
};

.divStyleInnerLink = {
		float: left;
		width: 80px;
		paddingTop: 5px;
		paddingLeft: 10px
};

.divLoading = {
		float: left;
		width: 300px;
		paddingTop: 0px;
		paddingLeft: 10px
};
